<header class="bg-white dark:bg-[#28303F] shadow-md h-20 sticky top-0 z-50">
    <div class="container mx-auto px-4 h-full flex items-center justify-between">
        <!-- Лого -->
        <a href="/" class="flex items-center gap-2">
            <span class="text-2xl font-bold text-gray-900 dark:text-white tracking-tight">TechStore</span>
        </a>
        <!-- Навигация -->
        <nav class="hidden lg:flex gap-8 text-lg font-medium">
            <a href="{% url 'core:computer_catalog' %}" class="text-gray-900 dark:text-white ">Компьютеры</a>
            <a href="{% url 'pcbuilder:pcbuilder' %}" class="text-gray-900 dark:text-white">Конфигуратор</a>
            <a href="{% url 'store:catalog' %}" class="text-gray-900 dark:text-white ">Каталог</a>
            <a href="{% url 'core:about' %}" class="text-gray-900 dark:text-white ">О нас</a>
            <a href="{% url 'core:support' %}" class="text-gray-900 dark:text-white ">Поддержка</a>
        </nav>
        <!-- Иконки -->
        <div class="flex items-center gap-4">
            <button id="theme-toggle" class="text-gray-900 dark:text-white">
                <!-- Иконка солнца -->
                <svg class="h-7 w-7 sun-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
                <!-- Иконка луны -->
                <svg class="h-7 w-7 moon-icon hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                </svg>
            </button>
            {% if user.is_authenticated %}
            <!-- Избранное -->
            <a href="{% url 'favorites:favorites' %}" class="text-gray-900 dark:text-white " title="Избранное">
                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
            </a>
            <!-- Корзина -->
            <a href="{% url 'cart:cart' %}" class="text-gray-900 dark:text-white " title="Корзина">
                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
            </a>
            {% endif %}
            <!-- Профиль/Вход -->
             {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}" class="text-gray-900 dark:text-white " title="Профиль">
                {% else %}
                <a href="{% url 'users:login' %}" class="text-gray-900 dark:text-white " title="Войти">
                {% endif %}
                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
            </a>
            <button id="mobile-menu-button" class="lg:hidden text-gray-900 dark:text-white">
                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>
    </div>
    <!-- Мобильная адаптация -->
    <div id="mobile-menu" class="hidden lg:hidden bg-white dark:bg-[#28303F] py-4 w-full border-t border-gray-200 dark:border-gray-700 absolute top-20 left-0 z-40 shadow-md">
        <nav class="flex flex-col items-center gap-4 text-lg font-medium">
            <a href="{% url 'core:computer_catalog' %}" class="text-gray-900 dark:text-white ">Компьютеры</a>
            <a href="{% url 'pcbuilder:pcbuilder' %}" class="text-gray-900 dark:text-white">Конфигуратор</a>
            <a href="{% url 'store:catalog' %}" class="text-gray-900 dark:text-white ">Каталог</a>
            <a href="{% url 'core:about' %}" class="text-gray-900 dark:text-white ">О нас</a>
            <a href="{% url 'core:support' %}" class="text-gray-900 dark:text-white ">Поддержка</a>
        </nav>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        if (mobileMenuButton && mobileMenu) {
            mobileMenuButton.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        }
    });
</script>